<div id="<%= dom_id applet %>" class="card w-full bg-base-100 shadow-xl">
  <div class="card-body">
    <div class="flex justify-between">
      <span class="opacity-50">#<%= applet.number %></span>
      <%= link_to 'Edit', edit_ifttb_applet_path(applet), class: "" unless applet.connected? %>
    </div>

    <%= link_to ifttb_applet_path(applet) do %>
      <%= render "ifttb/applets/description", applet: applet %>
    <% end %>

    <% if applet.archived? %>
      <div class="flex justify-between text-sm">
        <span class="opacity-75">Archived at:</span>
          <span class="opacity-75"> <%= applet.archived_at.strftime("%D %H:%M") %></span>
      </div>
    <% else %>
      <div class="flex justify-between text-sm">
        <span class="opacity-75">Connected:</span>
        <input type="checkbox" class="toggle" <%= applet.connected && "checked" %> />
      </div>

      <div class="flex justify-between text-sm">
        <span class="opacity-75">Last active:</span>
        <span>
          <%= applet.last_active_at.presence || 'Never' %>
        </span>
      </div>
    <% end %>
  </div>
</div>
