<div class="pt-4">
  <div class="text-center mb-4">
    You have created <%= current_user.applets.without_drafted.without_archived.count %>/3 applets.
  </div>

  <%= turbo_frame_tag "applets" do %>
    <div id="applets-list" class="px-4 grid sm:grid-cols-2 gap-4">
      <%= render partial: "ifttb/applets/applet", collection: @applets, as: :applet %>
    </div>
    <div id="applets-pagination">
      <%= link_to 'Load More', pagy_url_for(@pagy, @pagy.next), class: 'btn btn-outline btn-wide block mx-auto' if @pagy.next.present? %>
    </div>
  <% end %>
</div>

<% content_for :navbar do %>
  <div class="h-12 px-4 py-2 text-xl font-bold text-white bg-neutral">
    <div class="mx-auto max-w-screen-lg">
      IFTT<span class='text-2xl text-btc'>₿</span>
    </div>
  </div>
<% end %>

<% if current_user.present? %>
  <% content_for :tabbar do %>
    <div class="flex items-center justify-around p-4 mx-auto max-w-screen-lg">
      <% if current_user.may_create_applet? %>
        <%= link_to t('create'), new_ifttb_applet_path, class: 'btn btn-primary btn-sm rounded-full' %>
      <% else %>
        <%= link_to t('upgrade_pro'), new_ifttb_order_path, class: 'btn btn-primary btn-sm rounded-full' %>
      <% end %>

      <%= render "components/modal" do |p| %>
        <% p.content_for :title, 'More' %>
        <% p.content_for :trigger do %>
          <div class="btn btn-primary btn-sm rounded-full">
            <%= inline_svg_tag "icons/bars.svg", class: "w-7 h-7 rounded-full" %>
          </div>
        <% end %>
        <% p.content_for :body do %>
          <%= link_to t('wallet'), ifttb_wallet_path, class: 'btn btn-block btn-primary mb-4' %>
          <%= link_to t('stats'), ifttb_stats_path, class: 'btn btn-block btn-primary mb-4' %>
          <%= link_to t('archived_applets'), ifttb_archived_applets_path, class: 'btn btn-block btn-primary' %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
