<div class="grid grid-cols-2 gap-4 text-center">
  <div class="relative rounded-lg bg-[#22306d] shadow p-4 text-[#fd8cc2]">
    <%= image_tag '4swap.png', class: 'w-6 h-6 block mb-2 mx-auto rounded-full border border-[#fd8cc2]' %>
    <div class='font-bold'>4swap</div>
    <%= link_to '', new_ifttb_applet_applet_4swap_action_path(@applet), class: 'absolute inset-0 w-full' %>
  </div>

  <div class="relative rounded-lg bg-[#8c2de7] shadow p-4 text-white">
    <%= image_tag 'mixswap.png', class: 'w-6 h-6 block mb-2 mx-auto rounded-full' %>
    <div class='font-bold'>MixSwap</div>
    <%= link_to '', new_ifttb_applet_applet_mix_swap_action_path(@applet), class: 'absolute inset-0 w-full' %>
  </div>

  <div class="relative rounded-lg bg-blue-500 shadow p-4 text-white">
    <%= inline_svg_tag 'icons/bell-alert.svg', class: 'w-6 h-6 mb-2 mx-auto' %>
    <div class='font-bold'>Alert</div>
    <%= link_to '', new_ifttb_applet_applet_alert_action_path(@applet), class: 'absolute inset-0 w-full' %>
  </div>
</div>
