<div class="grid grid-cols-2 gap-4 text-center">
  <% if applet.may_add_trigger?('AppletDatetimeTrigger') %>
    <div class="relative rounded-lg bg-neutral/90 shadow p-4 text-white">
      <%= inline_svg_tag 'icons/clock.svg', class: 'w-6 h-6 block mb-2 mx-auto' %>
      <div class='font-bold'>Datetime</div>
      <%= link_to '', 
        new_ifttb_applet_applet_datetime_trigger_path(applet), 
        data: { turbo_frame: '_top' }, 
        class: 'absolute inset-0 w-full' %>
    </div>
  <% end %>

  <% if applet.may_add_trigger?('Applet4swapTrigger') %>
    <div class="relative rounded-lg bg-[#22306d] shadow p-4 text-[#fd8cc2]">
      <%= image_tag '4swap.png', class: 'w-6 h-6 block mb-2 mx-auto rounded-full border border-[#fd8cc2]' %>
      <div class='font-bold'>4swap</div>
      <%= link_to '', 
        new_ifttb_applet_applet_4swap_trigger_path(applet), 
        data: { turbo_frame: '_top' }, 
        class: 'absolute inset-0 w-full' %>
    </div>
  <% end %>

  <% if applet.may_add_trigger?('AppletPandoLeafTrigger') %>
    <div class="relative rounded-lg bg-[#F1FDF3] shadow p-4 text-[#47bd61]">
      <%= image_tag 'pando-leaf.svg', class: 'w-6 h-6 block mb-2 mx-auto rounded-full' %>
      <div class='font-bold'>Pando Leaf</div>
      <%= link_to '', 
        new_ifttb_applet_applet_pando_leaf_trigger_path(applet), 
        data: { turbo_frame: '_top' }, 
        class: 'absolute inset-0 w-full' %>
    </div>
  <% end %>

  <% if applet.may_add_trigger?('AppletPandoRingsTrigger') %>
    <div class="relative rounded-lg bg-[#FEFAF3] shadow p-4 text-[#FF9E29]">
      <%= image_tag 'pando-rings.svg', class: 'w-6 h-6 block mb-2 mx-auto rounded-full' %>
      <div class='font-bold'>Pando Rings</div>
      <%= link_to '', 
        new_ifttb_applet_applet_pando_rings_trigger_path(applet), 
        class: 'absolute inset-0 w-full' %>
    </div>
  <% end %>

  <% if applet.may_add_trigger?('AppletExinLocalTrigger') %>
    <div class="relative rounded-lg bg-blue-500 shadow p-4 text-white">
      <%= image_tag 'tiga.png', class: 'w-6 h-6 block mb-2 mx-auto rounded-full' %>
      <div class='font-bold'>Tiga</div>
      <%= link_to '', 
        new_ifttb_applet_applet_exin_local_trigger_path(applet), 
        class: 'absolute inset-0 w-full' %>
    </div>
  <% end %>
</div>
