<div class='p-4 bg-neutral text-white mb-8'>
  <div class="mb-4">
    <%= inline_svg_tag 'icons/clock.svg', class: 'w-12 h-12 block mx-auto' %>
  </div>
  <div class="mb-4">
    Set a datetime trigger to run your applet on every minute/hour/day/week/month.
  </div>
  <% if trigger.persisted? %>
    <div class="flex items-center space-x-2 justify-center">
      <span class="italic"><%= trigger.description %></span>
    </div>
  <% end %>
</div>

<div class="px-4 sm:px-8">
  <%= render 'ifttb/applet_datetime_triggers/minute_form', trigger: trigger %>
  <%= render 'ifttb/applet_datetime_triggers/hour_form', trigger: trigger %>
  <%= render 'ifttb/applet_datetime_triggers/day_form', trigger: trigger %>
  <%= render 'ifttb/applet_datetime_triggers/week_form', trigger: trigger %>
  <%= render 'ifttb/applet_datetime_triggers/month_form', trigger: trigger %>
</div>
