<%= render "components/modal" do |p| %>
  <% p.content_for :title, 'Every Hour At' %>
  <% p.content_for :trigger do %>
    <div class="btn btn-block btn-wide text-xl mb-4">
      Every Hour At
    </div>
  <% end %>
  <% p.content_for :body do %>
    <%= form_for [:ifttb, trigger.applet, trigger] do |form| %>
      <%= form.hidden_field :type %>
      <%= form.hidden_field :hour, value: '*' %>
      <%= form.hidden_field :day, value: '*' %>
      <%= form.hidden_field :month, value: '*' %>
      <%= form.hidden_field :wday, value: '*' %>
      <div class="mb-4">
        Run applet every hour at
      </div>
      <div class="flex items-center justify-center space-x-2 mb-6">
        <span>Minute</span>
        <%= form.select :minute, 
          (0..59).map(&->(index) { [index, index ]}),
          {}, 
          class: 'select select-sm text-lg' %>
      </div>
      <%= form.submit 'Save', class: "btn btn-block btn-primary" %>
    <% end %>
  <% end %>
<% end %>
