<%= render "components/modal" do |p| %>
  <% p.content_for :title, 'Every Week At' %>
  <% p.content_for :trigger do %>
    <div class="btn btn-block btn-wide text-xl mb-4">
      Every Week At
    </div>
  <% end %>
  <% p.content_for :body do %>
    <%= form_for [:ifttb, trigger.applet, trigger] do |form| %>
      <%= form.hidden_field :type %>
      <%= form.hidden_field :applet_id %>
      <%= form.hidden_field :day, value: '*' %>
      <%= form.hidden_field :month, value: '*' %>
      <div class="mb-4">
        Run applet every week at UTC(+0)
      </div>
      <div class="flex items-center justify-center space-x-2 mb-6">
        <%= form.select :wday, 
          %w[
            Sunday
            Monday
            Tuesday
            Wedneday
            Thursday
            Friday
            Saturday
          ].each_with_index(&->(d, index) { [d, index]}),
          {}, 
          class: 'select select-sm text-lg' %>
        <%= form.select :hour, 
          (0..23).map(&->(index) { [index.to_s.rjust(2, '0'), index]}),
          {}, 
          class: 'select select-sm text-lg' %>
        <span>:</span>
        <%= form.select :minute, 
          (0..59).map(&->(index) { [index.to_s.rjust(2, '0'), index]}),
          {}, 
          class: 'select select-sm text-lg' %>
      </div>
      <%= form.submit 'Save', class: "btn btn-block btn-primary" %>
    <% end %>
  <% end %>
<% end %>
